<!DOCTYPE HTML>
<html>
  <head>
    <title>ReviewR</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://s3-media2.fl.yelpcdn.com/assets/srv0/homepage/5a57af5e7478/assets/css/homepage-pkg.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" href="https://s3-media4.fl.yelpcdn.com/assets/2/www/css/318398ec09ec/www-pkg.css">
    <link rel="stylesheet" type="text/css" media="all" href="https://s3-media3.fl.yelpcdn.com/assets/2/www/css/015ac64acd6a/user_details-pkg.css">
    
  </head>
  <body>
    
  <noscript>
    <link rel="stylesheet" href="https://s3-media2.fl.yelpcdn.com/assets/srv0/svg_icons/1421d1203d09/assets/sprite.css">
</noscript>
<div id = "navbar-custom">
    <nav  class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">ReviewR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/logout">Logout</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
          </div>
</nav>
</div>

<div class="top-shelf">
        <div class="content-container js-biz-details">
            
    <div id="alert-container">

    </div>


                <div class="hidden">
            <div itemscope itemtype="http://schema.org/LocalBusiness">
        

                <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
        <meta itemprop="ratingValue" content="4.5">
        <span itemprop="reviewCount">19</span>
    </div>


            <meta itemprop="image" content="https://s3-media3.fl.yelpcdn.com/bphoto/57QC1B3WTKCKzpbs6SBZFw/ls.jpg">

            <meta itemprop="priceRange" content="$" />

            <meta itemprop="name" content="Rollin Deep Ice Cream" />

            <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">891 Baker St<br>Ste B-19</span><br><span itemprop="addressLocality">Costa Mesa</span>, <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">92626</span><br><meta content="US" itemprop="addressCountry">
    </address>

            <span itemprop="telephone">
        (714) 760-4311
    </span>
</body>
</html>