<!DOCTYPE html>
<html>
  <head>
    <title>ReviewR</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://s3-media2.fl.yelpcdn.com/assets/srv0/homepage/5a57af5e7478/assets/css/homepage-pkg.css">
    
  </head>
  <body>
    
  <noscript>
    <link rel="stylesheet" href="https://s3-media2.fl.yelpcdn.com/assets/srv0/svg_icons/1421d1203d09/assets/sprite.css">
</noscript>
      
<div class="y-container homepage-hero" style="background-image: url(https://images.freecreatives.com/wp-content/uploads/2016/02/Solid-Gray-Background-for-Free.jpg)">
  <div class="y-container_content">
                  <ul class="offscreen">
          <li>
              <a href="#header_find_form" rel="nofollow">
                  Skip to Search Form
              </a><span id="fyqufswwdrzztfywfuc"><a rel="file" style="display: none;" href="uucrwxfyqawvzseawbc.html">zytwdauduzdeuwzwzbbfzy</a></span>
          </li>
          <li>
              <a href="#header-nav" rel="nofollow">
                  Skip to Navigation
              </a>
          </li>
          <li>
              <a href="#page-content" rel="nofollow">
                  Skip to Page Content
              </a>
          </li>
  </ul>


  <div class="hero-header js-main-header">
      <div class="arrange arrange--18">
          <div class="arrange_unit arrange_unit--fill">
                  <div class="hero-header_nav hero-header_nav--main nowrap">
                              <ul class="header-nav" id="header-nav">
          <li id="write-review" class="header-nav_item js-analytics-click" data-analytics-label="write-review">
                  <a class="header-nav_link" href="/writeareview">
                      Write a Review
                  </a>
          
  </ul>

                  </div>
          </div>
              <div class ="arrange_unit nowrap">
                      <ul class="header-nav hero-header_nav main-header_account">
  <li class="header-nav_item u-space-r2" id="header-log-in">
      <a class="header-nav_link header-nav_link--log-in js-analytics-click" href="/login-page" data-analytics-label="login">
          Log In
      </a>
  </li>
      <li class="header-nav_item u-space-r0 js-analytics-click" id="header-sign-up" data-analytics-label="signup">
          <a href="/signup-page" class="ybtn ybtn--primary header-nav_button nowrap">Sign Up</a>
      </li>
</ul>

              </div>
      </div>
  </div>


  <div class="homepage-hero_inner">
      
            <img id="logo" src= "/images/reviewrlogo.png">
         
      </div>

          <form method="get" action="/search" id="header_find_form" class="business-search-form main-search yform u-space-b0 js-business-search-form" role="search">
  <div class="arrange arrange--equal arrange--stack-small">
      <div class="arrange_unit">
          <div class="main-search_suggestions-field search-field-container find-decorator">
              <label class="pseudo-input business-search-form_input business-search-form_input--find">
                  <div class="pseudo-input_wrapper">
                      <span class="pseudo-input_text business-search-form_input-text">Find</span>
                      <span class="pseudo-input_field-holder">
                          <input autocomplete="off" id="find_desc" maxlength="64" name="find_desc" placeholder="burgers, barbers, spas, handymen" value="" class="pseudo-input_field business-search-form_input-field" aria-autocomplete="list" tabindex="1">
                      </span>
                  </div>
              </label>
              <div class="main-search_suggestions suggestions-list-container search-suggestions-list-container hidden">
                  <ul class="suggestions-list" role="listbox" aria-label="Search results"></ul>
              </div>
          </div>
      </div>

      <div class="arrange_unit">
          <div class="arrange">
              <div class="arrange_unit arrange_unit--fill">
                  <div class="main-search_suggestions-field search-field-container near-decorator">
                      <label class="pseudo-input business-search-form_input business-search-form_input--near">
                          <div class="pseudo-input_wrapper">
                          <span class="pseudo-input_text business-search-form_input-text">Near</span>
                              <span class="pseudo-input_field-holder">
                                  <input autocomplete="off" id="dropperText_Mast" maxlength="80" name="find_loc" placeholder="address, neighborhood, city, state or zip" value="Irvine, CA" class="pseudo-input_field business-search-form_input-field" aria-autocomplete="list" tabindex="2">
                                  <input type="hidden" name="ns" value="1">
                              </span>
                          </div>
                      </label>
                      <div class="main-search_suggestions suggestions-list-container location-suggestions-list-container hidden">
                          <ul class="suggestions-list" role="listbox" aria-label="Search results"></ul>
                      </div>
                  </div>
              </div>
              <div class="arrange_unit">

<button class="ybtn ybtn--primary ybtn--small business-search-form_button" id="header-search-submit" tabindex="3" title="Search" type="submit" value="submit">
                      <span class="main-search_action-icon-wrap js-search-icon-wrap">
                          <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-search icon--size-24 icon--currentColor">
<svg class="icon_svg">
  <use xlink:href="#24x24_search" />
</svg>
</span>
                          <span class="u-offscreen">Search</span>
                      </span>
                          <div class="circle-spinner js-circle-spinner hidden">
  <div class="circle-spinner_segment container1">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
  </div>
  <div class="circle-spinner_segment container2">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
  </div>
  <div class="circle-spinner_segment container3">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
  </div>
</div>

</button>
              </div>
          </div>
      </div>
  </div>
</form>



          <ul class="homepage-hero_categories js-header-nav text-centered">
      <li class="homepage-hero_category js-analytics-click" data-analytics-label="restaurants">
          <div >
              <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-food icon--size-18 icon--inverse icon--fallback-inverted">
<svg class="icon_svg">
  <use xlink:href="#18x18_food" />
</svg>
</span>
                  <a class="homepage-hero_link" href="/search?cflt=restaurants&amp;find_loc=Irvine%2C+CA">Restaurants</a>
          </div>
      </li>
      <li class="homepage-hero_category js-analytics-click" data-analytics-label="nightlife">
          <div >
              <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-nightlife icon--size-18 icon--inverse icon--fallback-inverted">
<svg class="icon_svg">
  <use xlink:href="#18x18_nightlife" />
</svg>
</span>
                  <a class="homepage-hero_link" href="/search?cflt=nightlife&amp;find_loc=Irvine%2C+CA">Nightlife</a>
          </div>
      </li>
      <li class="homepage-hero_category js-analytics-click dropdown js-category-dropdown dropdown--arrow dropdown--fade fade-initial-load" data-analytics-label="home services">
          <div class="js-dropdown-toggle dropdown_toggle">
              <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-tools icon--size-18 icon--inverse icon--fallback-inverted">
<svg class="icon_svg">
  <use xlink:href="#18x18_tools" />
</svg>
</span>
                  <a class="homepage-hero_link">Home Services</a>
                  <span aria-hidden="true" style="width: 14px; height: 14px;" class="icon icon--14-triangle-down icon--size-14 icon--inverse icon--fallback-inverted u-triangle-direction-down dropdown_arrow">
<svg class="icon_svg">
  <use xlink:href="#14x14_triangle_down" />
</svg>
</span>
          </div>
                  <div class="dropdown_menu-container js-dropdown_menu-container">
  <div class="dropdown_menu js-dropdown-menu">
      <div class="dropdown_menu-inner">
              <ul class="dropdown_menu-group" role="menu" aria-hidden="false">
                      <li class="dropdown_item js-analytics-click" data-analytics-label="air conditioning &amp; heating" role="presentation">
                                  <a class="dropdown_link js-dropdown-link" href="/search?cflt=hvac&amp;find_loc=Irvine%2C+CA" role="menuitem">
  <span class="dropdown_label">
          Air Conditioning & Heating
  </span>
</a>

                      </li>
                      <li class="dropdown_item js-analytics-click" data-analytics-label="contractors" role="presentation">
                                  <a class="dropdown_link js-dropdown-link" href="/search?cflt=contractors&amp;find_loc=Irvine%2C+CA" role="menuitem">
  <span class="dropdown_label">
          Contractors
  </span>
</a>

                      </li>
                      <li class="dropdown_item js-analytics-click" data-analytics-label="electricians" role="presentation">
                                  <a class="dropdown_link js-dropdown-link" href="/search?cflt=electricians&amp;find_loc=Irvine%2C+CA" role="menuitem">
  <span class="dropdown_label">
          Electricians
  </span>
</a>

                      </li>
                      <li class="dropdown_item js-analytics-click" data-analytics-label="home cleaners" role="presentation">
                                  <a class="dropdown_link js-dropdown-link" href="/search?cflt=homecleaning&amp;find_loc=Irvine%2C+CA" role="menuitem">
  <span class="dropdown_label">
          Home Cleaners
  </span>
</a>

                      </li>
                      <li class="dropdown_item js-analytics-click" data-analytics-label="landscapers" role="presentation">
                                  <a class="dropdown_link js-dropdown-link" href="/search?cflt=landscaping&amp;find_loc=Irvine%2C+CA" role="menuitem">
  <span class="dropdown_label">
          Landscapers
  </span>
</a>

                      </li>
                      <li class="dropdown_item js-analytics-click" data-analytics-label="locksmiths" role="presentation">
                                  <a class="dropdown_link js-dropdown-link" href="/search?cflt=locksmiths&amp;find_loc=Irvine%2C+CA" role="menuitem">
  <span class="dropdown_label">
          Locksmiths
  </span>
</a>

                      </li>
                      <li class="dropdown_item js-analytics-click" data-analytics-label="movers" role="presentation">
                                  <a class="dropdown_link js-dropdown-link" href="/search?cflt=movers&amp;find_loc=Irvine%2C+CA" role="menuitem">
  <span class="dropdown_label">
          Movers
  </span>
</a>

                      </li>
                      <li class="dropdown_item js-analytics-click" data-analytics-label="painters" role="presentation">
                                  <a class="dropdown_link js-dropdown-link" href="/search?cflt=painters&amp;find_loc=Irvine%2C+CA" role="menuitem">
  <span class="dropdown_label">
          Painters
  </span>
</a>

                      </li>
                      <li class="dropdown_item js-analytics-click" data-analytics-label="plumbers" role="presentation">
                                  <a class="dropdown_link js-dropdown-link" href="/search?cflt=plumbing&amp;find_loc=Irvine%2C+CA" role="menuitem">
  <span class="dropdown_label">
          Plumbers
  </span>
</a>

                      </li>
              </ul>
      </div>
  </div>
</div>

      </li>
      <li class="homepage-hero_category js-analytics-click" data-analytics-label="delivery">
          <div >
              <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-order icon--size-18 icon--inverse icon--fallback-inverted">
<svg class="icon_svg">
  <use xlink:href="#18x18_order" />
</svg>
</span>
                  <a class="homepage-hero_link" href="/search?find_desc=Delivery&amp;find_loc=Irvine%2C+CA">Delivery</a>
          </div>
      </li>
</ul>


              <div class="u-text-centered homepage-hero_biz u-size-full">
                  
<div class="business-link-hovercard js-business-link-hovercard business-link-hovercard--strong business-link-hovercard--inline">
  <span class="business-link-hovercard_business-link js-business-link">
              <a class="biz-name js-analytics-click" data-analytics-label="biz-name" href="/biz/tufino-pizzeria-napoletana-astoria-28" data-hovercard-id="" ><span >Tufino Pizzeria Napoletana</span></a>

  </span>
  

<div class="js-business-hovercard u-break-word business-link-hovercard_hovercard u-hidden">
      <div class="media-block media-block--12 biz-listing-medium">
  <div class="media-avatar">
                  <div class="photo-box pb-90s">

  
</div>

    <div class="biz-rating biz-rating-large clearfix" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
        



<div class="i-stars i-stars--regular-4 rating-large" title="4.0 star rating">
<img class="offscreen" height="303" src="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png" width="84" alt="4.0 star rating">
</div>
<meta itemprop="ratingValue" content="4.0">


            <span class="review-count rating-qualifier">
    <span itemprop="reviewCount">272</span> reviews
</span>

</div>

<div class="price-category">
            <span class="category-str-list">
            Pizza,
            Italian,
            Breakfast &amp; Brunch
</span>


</div>

<small>
    <span class="addr-city"></span>

</small>

</div>
</div>

</div>

</div>

            </div>
     
</div>
</div>
</div>

</div>

</body>
</html>
