<!DOCTYPE html>
<html>
  <head>
    <title>ReviewR</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://s3-media2.fl.yelpcdn.com/assets/srv0/homepage/5a57af5e7478/assets/css/homepage-pkg.css">
    
  </head>
  <body>
    
  <noscript>
    <link rel="stylesheet" href="https://s3-media2.fl.yelpcdn.com/assets/srv0/svg_icons/1421d1203d09/assets/sprite.css">
</noscript>
      
<div class="y-container homepage-hero" style="background-image: url(https://images.freecreatives.com/wp-content/uploads/2016/02/Solid-Gray-Background-for-Free.jpg)">
  <div class="y-container_content">
                  <ul class="offscreen">
          <li>
              <a href="#header_find_form" rel="nofollow">
                  Skip to Search Form
              </a><span id="fyqufswwdrzztfywfuc"><a rel="file" style="display: none;" href="uucrwxfyqawvzseawbc.html">zytwdauduzdeuwzwzbbfzy</a></span>
          </li>
          <li>
              <a href="#header-nav" rel="nofollow">
                  Skip to Navigation
              </a>
          </li>
          <li>
              <a href="#page-content" rel="nofollow">
                  Skip to Page Content
              </a>
          </li>
  </ul>


  <div class="hero-header js-main-header">
      <div class="arrange arrange--18">
          <div class="arrange_unit arrange_unit--fill">
                  <div class="hero-header_nav hero-header_nav--main nowrap">
                              <ul class="header-nav" id="header-nav">
          <li id="write-review" class="header-nav_item js-analytics-click" data-analytics-label="write-review">
                  <a class="header-nav_link" href="/writeareview">
                      Write a Review
                  </a>
          
  </ul>

                  </div>
          </div>
<% if(user == 'none') { %>
              <div class ="arrange_unit nowrap">
                      <ul class="header-nav hero-header_nav main-header_account">
  <li class="header-nav_item u-space-r2" id="header-log-in">
      <a class="header-nav_link header-nav_link--log-in js-analytics-click" href="/login-page" data-analytics-label="login">
          Log In
      </a>
  </li>
      <li class="header-nav_item u-space-r0 js-analytics-click" id="header-sign-up" data-analytics-label="signup">
          <a href="/signup-page" class="ybtn ybtn--primary header-nav_button nowrap">Sign Up</a>
      </li>
</ul>

              </div>
<% }else{ %>
    <div id="topbar-account-item" class="user-account clearfix drop-menu-origin">

        <a class="ybtn ybtn--primary drop-menu-link user-account_button" href="javascript:;" id="topbar-account-link">
                    <span class="user-account_avatar responsive-visible-large-block">    <img alt="Moxit S." class="photo-box-img" height="90" src="https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_styleguide/bf5ff8a79310/assets/img/default_avatars/user_medium_square.png" width="90">
    </span>
                <span aria-hidden="true" style="width: 14px; height: 14px;" class="icon icon--14-triangle-down icon--size-14 icon--inverse icon--fallback-inverted u-triangle-direction-down user-account_button-arrow responsive-visible-large-inline-block">
        <svg class="icon_svg">
            <use xlink:href="#14x14_triangle_down" />
        </svg>
    </span>
                <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-hamburger icon--size-24 icon--inverse icon--fallback-inverted drop-menu-link_open">
        <svg class="icon_svg">
            <use xlink:href="#24x24_hamburger" />
        </svg>
    </span>
                <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-close icon--size-24 icon--inverse icon--fallback-inverted drop-menu-link_close">
        <svg class="icon_svg">
            <use xlink:href="#24x24_close" />
        </svg>
    </span>
        </a>
            <div id="topbar-account-wrap" class="drop-menu drop-menu-has-arrow">
                <div class="drop-menu-arrow responsive-hidden-small"></div>
                    <div class="drop-menu-group responsive-visible-large-block">
                            <div class="ypassport ypassport-notext media-block">
            <div class="media-avatar responsive-photo-box js-analytics-click" data-analytics-label="about_me">
                            <div class="photo-box pb-60s" data-hovercard-id="SeE2Qdnl4TAFERCl1Xlalw">
                    <a href="/user_details?userid=MAV7Ljn1cU4HxhSbb6PXrg" class="js-analytics-click" data-analytics-label="user-photo">
                    <img alt="Moxit S." class="photo-box-img" height="60" src="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/514f6997a318/assets/img/default_avatars/user_60_square.png" width="60">
    
            </a>
    
        </div></div></div></div></div>
    
    <% } %>
      </div>
  </div>


  <div class="homepage-hero_inner">
      
            <img id="logo" src= "/images/reviewrlogo.png">
         
      </div>

          <form method="get" action="/search" id="header_find_form" class="business-search-form main-search yform u-space-b0 js-business-search-form" role="search">
  <div class="arrange arrange--equal arrange--stack-small">
      <div class="arrange_unit">
          <div class="main-search_suggestions-field search-field-container find-decorator">
              <label class="pseudo-input business-search-form_input business-search-form_input--find">
                  <div class="pseudo-input_wrapper">
                      <span class="pseudo-input_text business-search-form_input-text">Find</span>
                      <span class="pseudo-input_field-holder">
                          <input autocomplete="off" id="find_desc" maxlength="64" name="find_desc" placeholder="burgers, barbers, spas, handymen" value="" class="pseudo-input_field business-search-form_input-field" aria-autocomplete="list" tabindex="1">
                      </span>
                  </div>
              </label>
              <div class="main-search_suggestions suggestions-list-container search-suggestions-list-container hidden">
                  <ul class="suggestions-list" role="listbox" aria-label="Search results"></ul>
              </div>
          </div>
      </div>

      <div class="arrange_unit">
          <div class="arrange">
              <div class="arrange_unit arrange_unit--fill">
                  <div class="main-search_suggestions-field search-field-container near-decorator">
                      <label class="pseudo-input business-search-form_input business-search-form_input--near">
                          <div class="pseudo-input_wrapper">
                          <span class="pseudo-input_text business-search-form_input-text">Near</span>
                              <span class="pseudo-input_field-holder">
                                  <input autocomplete="off" id="dropperText_Mast" maxlength="80" name="find_loc" placeholder="address, neighborhood, city, state or zip" value="Irvine, CA" class="pseudo-input_field business-search-form_input-field" aria-autocomplete="list" tabindex="2">
                                  <input type="hidden" name="ns" value="1">
                              </span>
                          </div>
                      </label>
                      <div class="main-search_suggestions suggestions-list-container location-suggestions-list-container hidden">
                          <ul class="suggestions-list" role="listbox" aria-label="Search results"></ul>
                      </div>
                  </div>
              </div>
              <div class="arrange_unit">

<button class="ybtn ybtn--primary ybtn--small business-search-form_button" id="header-search-submit" tabindex="3" title="Search" type="submit" value="submit">
                      <span class="main-search_action-icon-wrap js-search-icon-wrap">
                          <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-search icon--size-24 icon--currentColor">
<svg class="icon_svg">
  <use xlink:href="#24x24_search" />
</svg>
</span>
                          <span class="u-offscreen">Search</span>
                      </span>
                          <div class="circle-spinner js-circle-spinner hidden">
  <div class="circle-spinner_segment container1">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
  </div>
  <div class="circle-spinner_segment container2">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
  </div>
  <div class="circle-spinner_segment container3">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
  </div>
</div>

</button>
              </div>
          </div>
      </div>
  </div>
</form>


      </div>
  </div>
</div>

      </li>

</ul>


              <div class="u-text-centered homepage-hero_biz u-size-full">
 
            </div>
     
</div>
</div>
</div>

</div>

<div class="y-container ">
    <div class="y-container_content">
        <div class="home-container home-container--first-top-short">

                




                    <div class="home-container_section home-container_section--top-long">
    <h2 class="u-text-centered">ReviewR</h2>
    <div class="location-bar">
            



    <div class="tab-nav-container">
        <ul class="tab-nav js-tab-nav tab-nav--center js-tab-nav--center">
                
        <li class="tab-nav_item">
                    








    </div>
</div>


                    <div class="home-container_section js-hot-new-businesses-section">
            <h3 class="explore-city_title">Hot & New Businesses</h3>
<div class="arrange arrange--wrap arrange--3-units arrange--30">
        <div class="arrange_unit">
                <div class="card business-passport-card">
    <div class="card_photo">
        
<div class="photo-box photo-box--interactive photo-box--background" style="background-image: url(https://s3-media2.fl.yelpcdn.com/bphoto/uBHu1TbXnTbudFOHvd9uKg/l.jpg)">
            <a href="/biz/king-almond-irvine" class="photo-box_link js-analytics-click" data-analytics-label="biz-photo">
            <img alt="King Almond" class="photo-box-img" height="400" src="https://s3-media2.fl.yelpcdn.com/bphoto/uBHu1TbXnTbudFOHvd9uKg/l.jpg" srcset="https://s3-media2.fl.yelpcdn.com/bphoto/uBHu1TbXnTbudFOHvd9uKg/o.jpg 1.67x" width="600">

    </a>

</div>

    </div>
    <div class="card_body">
        <div class="card_content">
            <h3 class="card_content-title--linked u-text-truncate">
                    
<div class="business-link-hovercard js-business-link-hovercard">
    <span class="business-link-hovercard_business-link js-business-link">
                <a class="biz-name js-analytics-click" data-analytics-label="biz-name" href="/biz/king-almond-irvine" data-hovercard-id="" ><span >King Almond</span></a>

    </span>
    

<div class="js-business-hovercard u-break-word business-link-hovercard_hovercard u-hidden">
        <div class="media-block media-block--12 biz-listing-medium">
    <div class="media-avatar">
                    <div class="photo-box pb-90s">
            <a href="/biz/king-almond-irvine" class="js-analytics-click" data-analytics-label="biz-photo">
            <img alt="King Almond" class="photo-box-img" height="90" src="https://s3-media2.fl.yelpcdn.com/bphoto/uBHu1TbXnTbudFOHvd9uKg/90s.jpg" srcset="https://s3-media2.fl.yelpcdn.com/bphoto/uBHu1TbXnTbudFOHvd9uKg/ms.jpg 1.11x,https://s3-media2.fl.yelpcdn.com/bphoto/uBHu1TbXnTbudFOHvd9uKg/ls.jpg 2.78x,https://s3-media2.fl.yelpcdn.com/bphoto/uBHu1TbXnTbudFOHvd9uKg/120s.jpg 1.33x,https://s3-media2.fl.yelpcdn.com/bphoto/uBHu1TbXnTbudFOHvd9uKg/168s.jpg 1.87x,https://s3-media2.fl.yelpcdn.com/bphoto/uBHu1TbXnTbudFOHvd9uKg/258s.jpg 2.87x,https://s3-media2.fl.yelpcdn.com/bphoto/uBHu1TbXnTbudFOHvd9uKg/180s.jpg 2.00x" width="90">

    </a>

</div>



    </div>
    <div class="media-story">
            <div class="media-title clearfix">
                <a class="biz-name js-analytics-click" data-analytics-label="biz-name" href="/biz/king-almond-irvine" data-hovercard-id="" ><span >King Almond</span></a>

</div>
        <div class="biz-rating biz-rating-large clearfix" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            



<div class="i-stars i-stars--regular-5 rating-large" title="5.0 star rating">
    <img class="offscreen" height="303" src="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png" width="84" alt="5.0 star rating">
</div>
    <meta itemprop="ratingValue" content="5.0">


                <span class="review-count rating-qualifier">
        <span itemprop="reviewCount">7</span> reviews
</span>

    </div>

    <div class="price-category">
                <span class="category-str-list">
                Bakeries,
                Specialty Food,
                Desserts
</span>


</div>

<small>
        <span class="addr-city">Irvine, CA</span>

</small>

    </div>
</div>

</div>

</div>

            </h3>
                    <div class="biz-rating biz-rating-large clearfix" >
            



<div class="i-stars i-stars--regular-5 rating-large" title="5.0 star rating">
    <img class="offscreen" height="303" src="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png" width="84" alt="5.0 star rating">
</div>


                <span class="review-count rating-qualifier">
        7 reviews
</span>

    </div>

                <div class="price-category">
                <span class="category-str-list">
                Bakeries,
                Specialty Food,
                Desserts
</span>


</div>

        <div class="city-state u-text-truncate u-space-t1 u-space-b1">
                <span class="addr-city">Irvine, CA</span>

        </div>
    <p class="business-passport-card_date-opened">
        <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-flame icon--size-18 icon--currentColor">
<svg class="icon_svg">
    <use xlink:href="#18x18_flame" />
</svg>
</span> Opened 3 weeks ago
    </p>
        </div>
    </div>
</div>

        </div>
        

<div class="u-space-t2 u-text-centered">
    <a class="js-analytics-click explore-city_see-all" data-analytics-label="link-more" href="/search?attrs=NewBusiness" >See more hot and new businesses</a>
</div>

    </div>
</body>
</html>
